{% extends 'base.html' %}
{% block title %}Wykresy - Plan Your Budget{% endblock %}
{% block content %}
<section class="charts-section">
    <h2>Wykresy</h2>
    <div>
        <label for="yearSelect">Wybierz rok:</label>
        <select id="yearSelect">
            {% for year in years %}
                <option value="{{ year }}" {% if year == selected_year %} selected {% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <canvas id="budgetChart" width="800" height="400"></canvas>
</section>
<div style="margin-top: 20px;">
    <button onclick="window.location.href='{% url 'home' %}'" class="btn">Wróć</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Dane JSON
    const monthlyData = JSON.parse('{{ monthly_data|escapejs }}');

    // Dane do wykresu
    const labels = ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'];
    const incomeData = monthlyData.map(data => data.income);
    const expenseData = monthlyData.map(data => data.expense);
    const balanceData = monthlyData.map(data => data.balance);

    // Konfiguracja wykresu
    const ctx = document.getElementById('budgetChart').getContext('2d');
    const budgetChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Dochody',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                data: incomeData
            }, {
                label: 'Wydatki',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                data: expenseData
            }, {
                label: 'Stan konta',
                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                data: balanceData
            }]
        },
        options: {
            indexAxis: 'x',
            group: {
                groupWidth: 0.8
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const yearSelect = document.getElementById('yearSelect');
    yearSelect.addEventListener('change', function() {
        const selectedYear = yearSelect.value;
    });
});
</script>
{% endblock %}
