{% extends 'base.html' %}
{% block title %}
Plan Your Budget - Lista Wydatków
{% endblock %}

{% block content %}
<h2>Lista Wydatków</h2>
<div style="margin-bottom: 10px;">
    <a href="{% url 'add_expenses' %}" class="btn" style="margin-right: 10px;">Dodaj</a>
    <a href="#" class="btn date-filter-btn" data-filter="day">Dzień</a>
    <a href="#" class="btn date-filter-btn" data-filter="week">Tydzień</a>
    <a href="#" class="btn date-filter-btn" data-filter="month">Miesiąc</a>
    <a href="#" class="btn date-filter-btn" data-filter="year">Rok</a>
    <a href="#" class="btn date-filter-btn" data-filter="period">Okres</a>
</div>

<ul id="expense-list">
    {% for expense in expenses %}
        <li>
            <span class="expense-amount">{{ expense.amount }}</span>
            <span class="expense-date">{{ expense.date }}</span>
            <span class="expense-category">{{ expense.category.name }}</span>
            {% if expense.comment %}
                <span class="expense-comment">{{ expense.comment }}</span>
            {% endif %}
        </li>
    {% empty %}
        <li>Brak dochodów.</li>
    {% endfor %}
</ul>

<div style="margin-top: 20px;">
    <button onclick="window.location.href='{% url 'expenses_list' %}'" class="btn">Wróć</button>
</div>
{% endblock %}
