{% extends 'base.html' %}
{% block title %}
Plan Your Budget - Lista Wydatków
{% endblock %}

{% block content %}
<h2>Lista Wydatków</h2>
<div style="margin-bottom: 10px;">
    <a href="{% url 'add_expenses' %}" class="btn" style="margin-right: 10px;">Dodaj</a>
    <a href="{% url 'fetch_expenses' %}?filter=day" class="btn date-filter-btn" data-filter="day">Dzień</a>
    <a href="{% url 'fetch_expenses' %}?filter=week" class="btn date-filter-btn" data-filter="week">Tydzień</a>
    <a href="{% url 'fetch_expenses' %}?filter=month" class="btn date-filter-btn" data-filter="month">Miesiąc</a>
    <a href="{% url 'fetch_expenses' %}?filter=year" class="btn date-filter-btn" data-filter="year">Rok</a>
    <a href="{% url 'expenses_period' %}" class="btn date-filter-btn" data-filter="period">Okres</a>

</div>
<ul id="expense-list">
    {% for expense in expenses %}
        <li>
            <span class="expense-amount">{{ expense.amount }}</span>
            <span class="expense-date">{{ expense.date }}</span>
            <span class="expense-category">{{ expense.category.name }}</span>
            {% if expense.comment %}
                <span class="expense-comment">{{ expense.comment }}</span>
            {% endif %}
        </li>
    {% empty %}
        <li>Brak dochodów.</li>
    {% endfor %}
</ul>

<section class="pie-chart-section">
    <canvas id="categoryPieChart" width="400" height="400"></canvas>
</section>

<div style="margin-top: 20px;">
    <button onclick="window.location.href='{% url 'home' %}'" class="btn">Wróć</button>
    <button onclick="window.location.href='{% url 'budget_summary' %}'" class="btn">Suma</button
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const expenseCategories = {};

    const expenseAmountElements = document.querySelectorAll('.expense-amount');

    expenseAmountElements.forEach(expenseAmountElement => {
        const category = expenseAmountElement.parentElement.querySelector('.expense-category').textContent;
        const amount = parseFloat(expenseAmountElement.textContent);

        if (expenseCategories.hasOwnProperty(category)) {
            expenseCategories[category] += amount;
        } else {
            expenseCategories[category] = amount;
        }
    });

    const categoryLabels = Object.keys(expenseCategories);
    const categoryAmounts = Object.values(expenseCategories);

    console.log(categoryLabels);
    console.log(categoryAmounts);

    console.log(document.getElementById('categoryPieChart'));

    if (document.getElementById('categoryPieChart')) {
        const ctx = document.getElementById('categoryPieChart').getContext('2d');
        const categoryPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: categoryLabels,
                datasets: [{
                    data: categoryAmounts,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(255, 99, 132, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });
    }
</script>




{% endblock %}
