{% extends 'base.html' %}
{% block title %}
Plan Your Budget - Lista Dochodów
{% endblock %}

{% block content %}
<h2>Lista Dochodów</h2>
<div style="margin-bottom: 10px;">
    <a href="{% url 'add_income' %}" class="btn" style="margin-right: 10px;">Dodaj</a>
    <a href="#" class="btn date-filter-btn" data-filter="day">Dzień</a>
    <a href="#" class="btn date-filter-btn" data-filter="week">Tydzień</a>
    <a href="#" class="btn date-filter-btn" data-filter="month">Miesiąc</a>
    <a href="#" class="btn date-filter-btn" data-filter="year">Rok</a>
    <a href="#" class="btn date-filter-btn" data-filter="period">Okres</a>
</div>

<ul id="income-list">
    {% for income in incomes %}
        <li>
            <span class="income-amount">{{ income.amount }}</span>
            <span class="income-date">{{ income.date }}</span>
            <span class="income-category">{{ income.category.name }}</span>
            {% if income.comment %}
                <span class="income-comment">{{ income.comment }}</span>
            {% endif %}
        </li>
    {% empty %}
        <li>Brak dochodów.</li>
    {% endfor %}
</ul>

<div style="margin-top: 20px;">
    <button onclick="window.location.href='{% url 'incomes_list' %}'" class="btn">Wróć</button>
</div>
{% endblock %}